html {
  height: 100%;
}

.no-padding{
    padding: 0px;
}
.float-right{
  float: right;
}

.monitoring-center{
  height: 100%;
  background: #1f1f1f;
  font-family: 'Roboto', sans-serif;
}

.menu{
  height: 100%;
  border-right: 1px solid #6eadee;
  padding: 0px;
  background: #222;

}

.menu .navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.menu .navbar li {
  width: 100%;
}

.menu .navbar a {
  color: #fbfbfb;
}

.menu .cluster-id{
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    letter-spacing: 3px;
}
.navbar-default .navbar-nav>li {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    letter-spacing: 5px;
    width: 90%;
    float: left;
}

.navbar-default .navbar-nav>li>i {
    width: 10%;
    line-height: 50px;
    text-align: center;
}

.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus {
    color: #1b1b1c;
    background: rgb(255, 255, 255);
    font-weight: bold;
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:focus > a{
    color: #1b1b1c;
}

.current {
    background: rgba(87, 120, 217, 0.3);
}

.main{
  height: 100%;
  color: #fff;
  padding-left:0px;
  margin-top: 30px;
}

.search {
    margin-left: 20px;
    width: 170px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
    width: 80%;
    border: 0px;
    border-bottom: 1px solid #fff;
}

.main .search {
    color: #FFF;
    background: #1f1f1f;
    border: 0px;
    border-bottom: 1px solid #fff;
    outline:0px !important;
}

.main .clusters-table .cluster-info{
    margin-top: 10%;
    font-size: 150%;
}
.main .cluster-info{
    font-size: 150%;
}
.main .table td {
  border-top: none;
}
.main .table a {
    padding: 5px;
    text-decoration: none;
}

.main .table label {
    background: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
}

.round{
    font-size: 170%;
    width: 100px;
    height: 100px;
    border: 4px solid #4ea9cc;
    border-radius: 50%;
    padding-top: 20px;
    text-align: center;
}


.tag{
    float: left;
    background: #6a8ef6;
    margin: 3px;
    padding: 5px;
}

.topic_link{
    color: #1b1b1c;
    background: rgb(255, 255, 255);
    font-weight: bold;
}

.table_topic_info{
    color: #1b1b1c;
    background: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: 1px solid #000;
}


.fa:hover{
  color:#189fcd;
}

.rack{

}

.broker{
    border: 1px solid #96c8fc;
    border-radius: 2px;
    margin: 6px;
    padding: 2px;
    text-align: center;
    color: #000;
    background: #fff;
    font-weight: bold;
}

.broker_info{
    float: right;
    margin-right: 5px;
    color: #6eadee;
    margin-top: 3px;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4ea9cc;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}



