<div class="col-sm-12 ">
    <div class="col-sm-12 search-container">
        <label> Number : {{ res.number }}</label><input type="text" ng-model="searchText" class="search" placeholder="Search..">
    </div>
    <div class="col-sm-12 col-md-8" >

        <div ng-repeat="(group, acls) in res.data | filter:searchText ">
            <p class="tag">Group: {{ group }}</p>
            <table class="table table-condensed">
                <thead>
                    <tr><th>Principal</th><th>Permission</th><th>Operation</th><th>Host</th></tr>
                </thead>
                <tr ng-repeat="acl in acls " ><td>{{acl.principal}}</td><td>{{acl.permissionType}}</td><td>{{acl.operation}}</td><td>{{acl.host}}</td></tr>
            </table>
        </div>


    </div>

    <h5>{{ message }}</h5>
</div>
