<div class="col-sm-12 ">
    <div class="col-sm-12 ">
    <label> Refresh : {{ refresh_time | timeFilter }}  </label> <i class="fa fa-refresh" aria-hidden="true" ng-show="on_refresh"></i>
    </div>
    <div class="col-sm-12  slide-container">
         <span>Value: {{lag}}</span><input type="range" min="0" max="1000"  class="slider" id="myRange" ng-model="lag"  placeholder="Search..">
    </div>

    <div class="col-sm-12 search-container">
        <label> Number : {{ res.number }}</label>
        <input type="text" ng-model="group_name_filter" class="search" placeholder="Search.." >
    </div>
    <br>
    <div class="col-sm-12 col-md-8" >

        <table class="table">
            <thead>
            <tr >
                <th></th>
                <th>Group</th>
                <th>Topic</th>
                <th>Partition</th>
                <th>Lag</th>
                <th>Time diff</th>
            </tr>
            </thead>
            <tr ng-repeat="group_lag in res.groups | filter:group_name_filter |  filter: greaterThan('lag', lag)" style="">
                <td><i class="fa fa-search" ng-click="filterByGroup(group_lag.group)"></i></td>
                <td>{{ group_lag.group }} </td>
                <td>{{ group_lag.topic }}</td>
                <td>{{ group_lag.partition }}</td>
                <td>{{ group_lag.lag }}</td>
                <td>{{ group_lag.diff | timeFilter}}</td>

            </tr>
        </table>
    </div>

    <h5>{{ message }}</h5>
</div>